.pad{
    position:absolute;
    border: 2px solid;
}
*{
    margin:0px;
    -webkit-print-color-adjust: exact;
}
.on {
    background-color:black
}
.off{
    background-color: white;
}
#tape{
    height:50%;
}
.pos{
    background-color:orange;
}
.play{
    background-color:green;
}
.pause{
    background-color:red;
}
#pausebutton{
    position:absolute;
    top:0%;
    left:0%;
    height:6%;
    width:6%;
    border: 1px solid;
}

.container {
  display: flex;
  width: 500px;
  height: 500px;
  margin: auto;
  text-alignt: center; }

.slider {
  width: 100%;
  margin: 50% auto; }

input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 15px;
  background-color: #fff;
  border: 1px solid #000;
    border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease; }
  input[type="range"]:hover {
    background-color: #E0E0E0; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #000;
  transition: all 0.5s ease; }
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #000; }
  input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 1px #3c6d59; }

#rangevalue {
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
  color: #000; 
}
#bpmSlider{
  position:absolute;
  bottom:-5%;
  left:calc( 50% - 250px);;
}
#printbutton{
        position:absolute;
        font-size:36px;
        font-family: "Quantico", sans-serif;
        right:20px;
        cursor:pointer;

}
