.pad{
    position:absolute;
    border: 2px solid;
}
*{
    margin:0px;
}
.on {
    background-color:black
}
.off{
    background-color: white;
}
#tape{
    height:50%;
}
.pos{
    background-color:red;
}

